
{{> nav/nav-block }}

{{!-- <div class="text-center">
    <h3 class="white-text mb-5 mt-4 font-weight-bold"><strong>Foxy</strong> <a
            class="green-text font-weight-bold"><strong> The Fixer</strong></a></h3>
</div> --}}

{{> login/login-block}}