<div>
    <form id="intro_form" class="intro_1 text-center">
        <button id="yes_help_button" type="submit" class="intro_1 btn btn-outline-success border-white text-white" >
            Start Fixing Fox Hole Villa !
        </button>
        {{!-- <button id="yes_help_button"type="button" class="btn btn-outline-success intro_1">Start Fixin' Fox Hole Villa !</button> --}}
    </form>
</div>

{{!-- <div id="intro_div" class="embed-responsive embed-responsive-16by9">

    <div>
        <video id="intro_video" class="embed-responsive-item small" controls>
            <source src="/assets/video/Intro-Complete.mp4" type="video/mp4">

            Your browser does not support HTML5 video.

            <h2 class="intro_1"> Welcome {{username}} to Fox Hole Villa!</h2>
            <p class="intro_1">
                Fox Hole Villa is a place where we come together and learn and grow. This community is filled with
                do-right
                folks
            </p>

            <h2 class="intro_1">
                Hi! I'm Foxy the Fixer!
            </h2 class="intro_1">
            <p class="intro_1">
                I'm so glad you've made it to our quaint place designed with HTML, CSS, and Javascript. I hope you can
                see
                what
                a
                lovely town we have ...
            </p>
            <p class="intro_1">
                But every now and then these evildoers come and mess up our town by changing our HTML and CSS!
            </p>

            <p class="intro_1">
                Oh no Evil Doer Donald has come back and ruined our html and css that was used to design our town. Just
                look
                at
                the cracks in the building
            </p>

            <p class="intro_1">
                Can you help me restore the town back to the way it was?
            </p>
        </video>
    </div>
</div> --}}

<div class="container intro_div">
    <h2 class="intro_1 text-center" style="color:#fff"> Welcome {{username}} to Fox Hole Villa!</h2>
    <div class="embed-responsive embed-responsive-16by9 rounded">
        <iframe id="intro_video" class="embed-responsive-item" src="assets/video/Intro-Complete.mp4" type="video/mp4">
                    <p class="intro_1">
                Fox Hole Villa is a place where welcome together and learn and grow. This community is filled with
                do-right
                folks
            </p>

            <h2 class="intro_1">
                Hi! I'm Foxy the Fixer!
            </h2 class="intro_1">
            <p class="intro_1">
                I'm so glad you've made it to our quaint place designed with HTML, CSS, and Javascript. I hope you can
                see
                what
                a
                lovely town we have ...
            </p>
            <p class="intro_1">
                But every now and then these evildoers come and mess up our town by changing our HTML and CSS!
            </p>

            <p class="intro_1">
                Oh no Evil Doer Donald has come back and ruined our html and css that was used to design our town. Just
                look
                at
                the cracks in the building
            </p>

            <p class="intro_1">
                Can you help me restore the town back to the way it was?
            </p>
        </iframe>
    </div>
</div>

