body {
  background-image:url("../images/blue_wallpaper.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  background-size: cover;
  background-attachment: fixed;
}

a{
  color:white;
  }

.demo-content{
    background: none;
}

.world-container{
  background: #fff;
}

.board{
font-family: 'Carter One';  font-style: normal;
  font-size: 15px ! important;
  color:#49fb35;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Carter One';  font-style: normal;
    border: none;
    box-sizing: border-box;
}

.question{
  font-family: 'Carter One';
  font-size: 26px ! important;
  color:#fff
}

#world {
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size:contain;
}

.blackboard {
    background: #2E706C;
    color: #ffff;
    height: 434px;

}

#foxy-fixer-idle-speak {
    height: 82px;
    width: 50px;
    position: absolute;
    left:5%;
    bottom:92%;
    background: url("../images/foxy_fixer_idle_speak.png")
        0px 0px;
}

#quiz {

    position: relative;
    margin-top: 15%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:none;
    text-align: center;
 }