body {
  background-color: black;}
.demo-content{
    background: none;
}

* {
    margin: 0px;
    padding: 0px;
    font: 16px 'Source Sans Pro', sans-serif;
    border: none;
    box-sizing: border-box;
  }

#world {
  height:100%;
  width:100%;
  /* background-image:url('../images/broken_image_1.png'); */
  background-size:contain;
  background-repeat: no-repeat;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
}
  
.blackboard {
    background: #2E706C;
    color: #ffff;
    height: 434px;

}

#foxy-fixer-idle-speak {
    height: 82px;
    width: 50px;
    position: absolute;
    left:-12px;
    bottom:-154px;
    background: url("../images/foxy_fixer_idle_speak.png")
        0px 0px;
}
  
#quiz {
    margin: 38px 44px 47px 12px;
    position: relative;
    width: calc(100% - 100px);
}
  
  #quiz h1 {
    color: #ffff;
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    text-align: left;
    line-height: 44px;
  }
  
  #quiz button {
    /* float: left;
    margin: 8px 0px 0px 8px;
    padding: 4px 8px; */
    background: #9ACFCC;
    color: #ffff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  #quiz button:hover {
    background: #36a39c;
    color: #FFF;
  }
  
  #quiz button:disabled {
    opacity: 0.5;
    background: #9ACFCC;
    color: #ffff;
    cursor: default;
  }
  
  #question {
    padding: 20px;
    background: none;
    text-align: center;
  }
  
  #question h2 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
    color: #ffff;
  }
  
  #question input[type=radio] {
    display: none;
  }
  
  #question label {
    display: inline-block;
    margin: 4px;
    padding: 8px;
    background: none;
    color: lightgreen;
    width: calc(50% - 8px);
    min-width: 50px;
    cursor: pointer;
  }
  
  #question label:hover {
    background: none;
  }
  
  #question input[type=radio]:checked + label {
    background: none;
    color: #FAFAFA;
  }