body {
  background-image:url("../images/blue_wallpaper.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  background-size: cover;
  background-attachment: fixed;
}
a{
  color:white;
  }

.demo-content{
    background: none;
}

* {
    margin: 0px;
    padding: 0px;
    font: 16px 'Source Sans Pro', sans-serif;
    border: none;
    box-sizing: border-box;
  }
.question{
  font-family: 'Indie Flower', cursive;
  font-size: 16px;
  color:#fff
}
.answer{
  font-family: 'Indie Flower', cursive;
  font-size: 10px;
  text-align: center
}

.world {
  height:100%;
  width:100%;
  /* background-image:url('../images/broken_image_1.png'); */
  background-size:contain;
  background-repeat: no-repeat;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
}
  
.blackboard {
    background: #2E706C;
    color: #ffff;
    height: 434px;

}

#foxy-fixer-idle-speak {
    height: 82px;
    width: 50px;
    position: absolute;
    left:5%;
    bottom:92%;
    background: url("../images/foxy_fixer_idle_speak.png")
        0px 0px;
}
  
#quiz {
    margin: 32px 45px 148px 45px;
    position: relative;
    width: calc(100% - 100px);
}



.btn:hover {
  background-color: rgb(86, 205, 245) !important;
  color: #fff;
  cursor: pointer;
}

  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:none;
    text-align: center;
 }