#villain-sprite-image {
    height: 82px;
    width: 56px;
    position: absolute;
    bottom: 390px;
    left: 50px;
    background: url("../images/villain_idle.png")
        0px 0px;
}
#hero-sprite-image {
    height: 82px;
    width: 56px;
    position: absolute;
    bottom: 395px;
    left: 342px;
    background: url("../images/foxy_fixer_celebrate.png")
        0px 0px;

}

body, html {
    height: 100%;
    margin: 0;
}

p {
    color:black;
}