#intro_div {
    position: relative;
    width: 100%;
    height: 400px;
}

#intro_video {
    position: absolute;
    z-index: 1;
    width:30%;
}

#intro_div {
    position: relative;
    display: block;
    width: 51%;
    margin-left: 25%;
    margin-bottom: auto;
    padding: 20%;
    overflow: hidden;
}

.container-login {
    position: relative;
    height: 14rem;
    border: 1px solid;
  }
  
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color:none;
    border-radius: .3rem;
    margin-left: 25%;
}
