<div class="container1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white">
        <div class="row">
        <div class="col-md-1">
            <div class="demo-content"><img alt="icon" src="assets/images/hero_icon.png" /></div>
        </div>
        <div class="col-md-9">
            <div class="demo-content">
                <nav class="nav nav-pills nav-fill">
                    <a class="nav-item nav-link text-white" href="/instructions">Instructions</a>
                    <a class="nav-item nav-link text-white" href="/scores">High Scores</a>
                    <a class="nav-item nav-link  text-white" href="/contact">Contact Us</a>
                </nav>
            </div>
        </div>
        <div class="col-md-2">
            <div class="demo-content">
                <a id="logout_link" class="nav-item nav-link  text-white" href="/logout">Logout</a>
            </div>
        </div>
    </div>
    </nav>