<div class="row">
    <div class="col-md-1">
        <div class="demo-content"><img alt="icon" src="assets/images/hero_icon.png" /></div>
    </div>
    <div class="col-md-9">
        <div class="demo-content">
            <nav class="nav nav-pills nav-fill">
                <a class="nav-item nav-link" href="/intro">Introduction</a>
                <a class="nav-item nav-link" href="/scores">High Scores</a>
                <a class="nav-item nav-link" href="/contact">Contact Us</a>
            </nav>
        </div>
    </div>
    <div class="col-md-2">
        <div class="demo-content">
            <a class="logout nav-item nav-link" href="/logout">Logout</a>
        </div>
    </div>
</div>
    <div class="row footer">
        <div class="col-md-3">
            <div class="demo-content"></div>
        </div>
        <div class="col-md-2">
            <div class="demo-content"></div>
        </div>
        <div class="col-md-7">
            <div class="demo-content">
                <nav class="nav nav-pills nav-fill text-center">Copyright
                </nav>
            </div>
        </div>
    </div>