<div class="container1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
{{!-- <form id="logout_form" class="logout">
                    <button id="logout_button" class="logout nav-item" type="submit">
                        Log Out
                    </button>
                </form>

                <form id="high_scores_form" class="high_scores nav-item">
                    <button id="high_scores_button" class="high_scores" type="submit">
                        View High Scores
                    </button>
                </form> --}}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
