<h3 id="confirm"></h3>
<div class="row justify-content-center">
    <div class="col-sm-3 col-sm-offset-1" id=""></div>
    <form class="col-sm-6 col-sm-offset-1 login" id="login_form">
        <div class="md-form text-center">
            <label for="username_input">Username</label>
            <input type="text" id="username_input" class="form-control white-text border border-dark"
                autocomplete="section-login username">
        </div>

        <div class="md-form pb-3 text-center">
            <label for="password_input">Your password</label>
            <input type="password" id="password_input" class="form-control white-text border border-dark"
                autocomplete="section-login new-password">
        </div>

        <!--Grid row-->
        <div class="row d-flex align-items-center mb-4">

            <!--Grid column-->
            <div class="text-center mb-3 col-md-6">
                <button id="login_btn" type="submit"
                    class="btn btn-success btn-block btn-rounded z-depth-1 border border-dark">Log
                    in</button>
            </div>
            <div class="text-center mb-3 col-md-6">
                <button id="signup_btn" type="submit"
                    class="btn btn-success btn-block btn-rounded z-depth-1 border border-dark">Sign Up</button>
            </div>
            <!--Grid column-->
        </div>

        <!--Grid row-->
    </form>
        <div class="col-sm-3 col-sm-offset-1" id=""></div>

</div>